﻿@model GreenCities.MVC.Models.MapModel

<script src="http://maps.google.com/maps/api/js?key=AIzaSyBg55VGc-KGt5t_ohIRYCOqmUu0L5rHoQQ" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<style>
    #map img {
        max-width: none;
    }
</style>

@{
    Layout = null;
    ViewBag.Title = "Index";
}
<div id="map" style="height: 100%;">

</div>


<script type="text/javascript">

    $(document).ready(function () {
        Initialize();
    });

    // Where all the fun happens
    function Initialize() {


        var myStyle = [
            {
                featureType: "administrative",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "poi",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "water",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "road",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }
        ];


        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControlOptions: {
                mapTypeIds: ['mystyle', google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.TERRAIN]
            },
            center: { lat: @Model.Latitude.ToString(), lng: @Model.Longitude.ToString() },
            zoom: 15,
            mapTypeId: 'mystyle'
        });

        map.mapTypes.set('mystyle', new google.maps.StyledMapType(myStyle, { name: 'My Style' }));

        //// These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        //var mapOptions = new google.maps.Map(document.getElementById('map'), {
        //    mapTypeControlOptions: {
        //        mapTypeIds: ['mystyle', google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.TERRAIN]
        //    },
           

        //    mapTypeId: 'roadmap'
        //});

       // // This makes the div with id "map_canvas" a google map
       //var map = new google.maps.Map(document.getElementById("map"), mapOptions);
       //map.mapTypes.set('mystyle', new google.maps.StyledMapType(myStyle, { name: 'My Style' }));


    }



</script>