﻿@model GreenCities.MVC.Models.MapModel

<script src="http://maps.google.com/maps/api/js?key=AIzaSyBg55VGc-KGt5t_ohIRYCOqmUu0L5rHoQQ" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<style>
    #map img {
        max-width: none;
    }
</style>

@{
    Layout = null;
    ViewBag.Title = "Index";
}
<div id="map" style="height: 100%;">

</div>


<script type="text/javascript">

    $(document).ready(function () {
        Initialize();
    });

    // Where all the fun happens
    function Initialize() {
        var Skopje = { "type": "GeometryCollection", "geometries": [{ "type": "MultiPolygon", "coordinates": [[[[21.315722099999999, 41.994889399999998], [21.315820800000001, 41.994845499999997], [21.315407700000002, 41.994105900000001], [21.3159013, 41.993866699999998], [21.315922700000002, 41.993372299999997], [21.316824, 41.9927025], [21.317167300000001, 41.992638700000001], [21.317853899999999, 41.993021400000003], [21.3195008, 41.993443999999997], [21.319659099999999, 41.993083200000001], [21.319642999999999, 41.992638700000001], [21.319716700000001, 41.9924593], [21.319811900000001, 41.992335699999998], [21.320146000000001, 41.992397199999999], [21.320633999999998, 41.992487199999999], [21.3205831, 41.992539000000001], [21.3206582, 41.992835999999997], [21.321115500000001, 41.993340400000001], [21.322145500000001, 41.993404200000001], [21.323089599999999, 41.993595499999998], [21.324033700000001, 41.993978300000002], [21.3249779, 41.994552400000003], [21.326780299999999, 41.995126499999998], [21.3281536, 41.995891999999998], [21.3296986, 41.9964023], [21.330985999999999, 41.9964023], [21.3315868, 41.996210900000001], [21.332488099999999, 41.995604899999996], [21.332659700000001, 41.9953498], [21.332745599999999, 41.994775699999998], [21.333046, 41.994488599999997], [21.333818399999998, 41.9942335], [21.334982499999999, 41.993950400000003], [21.335486800000002, 41.994149700000001], [21.335519000000001, 41.994532499999998], [21.335320500000002, 41.995286], [21.336736699999999, 41.996274700000001], [21.3375092, 41.996721200000003], [21.338710800000001, 41.996976400000001], [21.340084099999999, 41.997550500000003], [21.341371500000001, 41.998315900000001], [21.343568300000001, 41.999217899999998], [21.3449764, 42.000357000000001], [21.345276800000001, 42.000452699999997], [21.3459635, 42.001154300000003], [21.346412699999998, 42.001675599999999], [21.346616600000001, 42.001862899999999], [21.3469391, 42.001970100000001], [21.347328699999998, 42.002291499999998], [21.348967600000002, 42.001266000000001], [21.3509846, 41.999766999999999], [21.352186199999998, 41.9990016], [21.353430700000001, 41.998459400000002], [21.354460700000001, 41.998236200000001], [21.355662299999999, 41.998268099999997], [21.356949799999999, 41.998618899999997], [21.357379000000002, 41.998778399999999], [21.357464799999999, 41.998874000000001], [21.3586235, 41.999384300000003], [21.359911, 42.0003411], [21.360082599999998, 42.0003411], [21.360297200000002, 42.000500600000002], [21.361026800000001, 42.000819499999999], [21.362099600000001, 42.001106499999999], [21.3628292, 42.001074600000003], [21.3640738, 42.0006281], [21.364889099999999, 42.000436800000003], [21.365060799999998, 42.0003411], [21.365361199999999, 42.0003411], [21.365532900000002, 42.000245399999997], [21.3660049, 42.000117799999998], [21.3675499, 41.999830799999998], [21.3679147, 41.999623499999998], [21.3682151, 41.999336499999998], [21.368343800000002, 41.9990813], [21.3684297, 41.998698599999997], [21.3684686, 41.998043799999998], [21.3685343, 41.997648099999999], [21.368979499999998, 41.997265400000003], [21.369427399999999, 41.997030199999998], [21.370132900000002, 41.997006300000002], [21.370548599999999, 41.997127900000002], [21.371730100000001, 41.997853499999998], [21.371903100000001, 41.997582399999999], [21.3720292, 41.997139799999999], [21.3719058, 41.996816899999999], [21.3716054, 41.996593699999998], [21.3716054, 41.996498000000003], [21.3719058, 41.996242799999997], [21.3720775, 41.995955799999997], [21.371691200000001, 41.9956368], [21.371691200000001, 41.995573], [21.371798500000001, 41.995461400000003], [21.3720131, 41.995461400000003], [21.372249100000001, 41.995317900000003], [21.372292000000002, 41.995158400000001], [21.372249100000001, 41.995030800000002], [21.372399300000001, 41.994919199999998], [21.3727427, 41.995046799999997], [21.372849899999999, 41.994967000000003], [21.3727856, 41.994855399999999], [21.372463700000001, 41.994680000000002], [21.3723779, 41.9945205], [21.3724208, 41.993595499999998], [21.372249100000001, 41.993117099999999], [21.372249100000001, 41.9927663], [21.372463700000001, 41.992224], [21.372571000000001, 41.9921443], [21.372699699999998, 41.9921443], [21.372978700000001, 41.992415399999999], [21.373064500000002, 41.992574900000001], [21.373257599999999, 41.992686499999998], [21.374158900000001, 41.992590800000002], [21.374587999999999, 41.992463200000003], [21.3747811, 41.992319700000003], [21.375360499999999, 41.991633899999997], [21.3764334, 41.991410700000003], [21.377205799999999, 41.991315], [21.377849600000001, 41.9909003], [21.377978299999999, 41.990868399999997], [21.378450399999998, 41.990868399999997], [21.378707899999998, 41.990804599999997], [21.379523299999999, 41.990804599999997], [21.3801241, 41.990868399999997], [21.380682, 41.991091699999998], [21.380853699999999, 41.991091699999998], [21.381282800000001, 41.990772700000001], [21.381712, 41.990613199999999], [21.382141099999998, 41.990262399999999], [21.382441499999999, 41.990230500000003], [21.382913599999998, 41.990358100000002], [21.3832998, 41.990358100000002], [21.384158100000001, 41.990198599999999], [21.3843727, 41.990198599999999], [21.3848877, 41.990071], [21.385273900000001, 41.989911499999998], [21.3856602, 41.989847699999999], [21.386604299999998, 41.989337399999997], [21.386861799999998, 41.989273599999997], [21.387033500000001, 41.989337399999997], [21.387634299999998, 41.989815800000002], [21.387848900000002, 41.989879600000002], [21.388192199999999, 41.989847699999999], [21.388278, 41.989879600000002], [21.3889432, 41.990405899999999], [21.3889432, 41.990533499999998], [21.3886857, 41.9907568], [21.3886857, 41.990884399999999], [21.389222100000001, 41.991474500000002], [21.389479600000001, 41.991506399999999], [21.390294999999998, 41.991219299999997], [21.391024600000001, 41.991091699999998], [21.391174800000002, 41.990980100000002], [21.391131900000001, 41.990852500000003], [21.390809999999998, 41.990676999999998], [21.3905311, 41.990437800000002], [21.390574000000001, 41.990023100000002], [21.3905311, 41.989704199999998], [21.390659800000002, 41.9895128], [21.390616900000001, 41.989225699999999], [21.390702699999999, 41.9890981], [21.390659800000002, 41.988651500000003], [21.390852899999999, 41.9884761], [21.391153299999999, 41.988380399999997], [21.391560999999999, 41.988109299999998], [21.391818499999999, 41.987758399999997], [21.392247699999999, 41.9873756], [21.392548099999999, 41.986737599999998], [21.3926768, 41.986609999999999], [21.3926768, 41.986546199999999], [21.3924837, 41.986434600000003], [21.3917112, 41.986402699999999], [21.391282100000002, 41.986306999999996], [21.391089000000001, 41.986163500000004], [21.390831500000001, 41.985748800000003], [21.390488099999999, 41.985461700000002], [21.390488099999999, 41.985270300000003], [21.390702699999999, 41.984919400000003], [21.390659800000002, 41.9847599], [21.389994600000001, 41.984552499999999], [21.3893509, 41.984456799999997], [21.389071900000001, 41.984249499999997], [21.388964699999999, 41.9840102], [21.3886428, 41.983994299999999], [21.388385299999999, 41.983579599999999], [21.387999099999998, 41.983228699999998], [21.387698700000001, 41.9828458], [21.387741599999998, 41.982622499999998], [21.387484100000002, 41.982335399999997], [21.3873982, 41.982016399999999], [21.387226600000002, 41.981729299999998], [21.387269499999999, 41.981569800000003], [21.387226600000002, 41.981442199999996], [21.387011999999999, 41.981186999999998], [21.386797399999999, 41.980708499999999], [21.385981999999998, 41.979942800000003], [21.385853300000001, 41.979751399999998], [21.385853300000001, 41.979240900000001], [21.3857675, 41.979081399999998], [21.3857675, 41.9784115], [21.385724499999998, 41.978379599999997], [21.3857675, 41.977677700000001], [21.385939100000002, 41.977422500000003], [21.386303900000001, 41.977151300000003], [21.386861799999998, 41.976896099999998], [21.387441200000001, 41.976465300000001], [21.3876557, 41.975667700000002], [21.3879132, 41.9750935], [21.3881707, 41.974742499999998], [21.3884282, 41.974519200000003], [21.388514000000001, 41.9742958], [21.3883209, 41.974120399999997], [21.3880205, 41.9740246], [21.3875055, 41.973737499999999], [21.386861799999998, 41.973227000000001], [21.386690099999999, 41.973163200000002], [21.386518500000001, 41.973163200000002], [21.3863254, 41.973051499999997], [21.386282399999999, 41.972955800000001], [21.386539899999999, 41.972668599999999], [21.386475600000001, 41.972493200000002], [21.385831799999998, 41.972269799999999], [21.385316799999998, 41.972301700000003], [21.385080800000001, 41.972190099999999], [21.384995, 41.971998599999999], [21.385123700000001, 41.971615700000001], [21.385123700000001, 41.9713286], [21.384909199999999, 41.9704671], [21.384909199999999, 41.970243699999997], [21.384995, 41.969988499999999], [21.3852525, 41.969637499999997], [21.3852525, 41.969286500000003], [21.385638700000001, 41.968520699999999], [21.385638700000001, 41.968265500000001], [21.3855529, 41.968105899999998], [21.3855529, 41.9676592], [21.385681600000002, 41.967308199999998], [21.385681600000002, 41.966829599999997], [21.3858104, 41.966414800000003], [21.385896200000001, 41.966287100000002], [21.386904699999999, 41.965537300000001], [21.387248, 41.965377699999998], [21.387526999999999, 41.965170299999997], [21.387784499999999, 41.964819300000002], [21.388567699999999, 41.9641053], [21.3887754, 41.963825700000001], [21.388804100000002, 41.963833800000003], [21.390037499999998, 41.964436399999997], [21.390981700000001, 41.964436399999997], [21.391582499999998, 41.964308699999997], [21.392354999999998, 41.964372500000003], [21.3943291, 41.964883100000002], [21.3948441, 41.965074600000001], [21.395444900000001, 41.965457499999999], [21.396045699999998, 41.965457499999999], [21.396560699999998, 41.965585099999998], [21.397333100000001, 41.965585099999998], [21.3985348, 41.965010700000001], [21.400423, 41.965010700000001], [21.4009246, 41.964919999999999], [21.401343700000002, 41.964903399999997], [21.401408100000001, 41.964892599999999], [21.401497899999999, 41.9648599], [21.402096700000001, 41.9648033], [21.402525900000001, 41.964899099999997], [21.403040900000001, 41.964899099999997], [21.403469999999999, 41.964994799999999], [21.403899200000001, 41.965026700000003], [21.404628800000001, 41.965186199999998], [21.4051008, 41.965186199999998], [21.405572899999999, 41.965090500000002], [21.406774500000001, 41.964579999999998], [21.408190699999999, 41.964260899999999], [21.4098644, 41.963590699999997], [21.409993199999999, 41.963590699999997], [21.410143399999999, 41.963702400000003], [21.410186299999999, 41.964021500000001], [21.4102721, 41.964181099999998], [21.410315000000001, 41.964659699999999], [21.4102721, 41.964691600000002], [21.4102721, 41.965170299999997], [21.4104223, 41.965282000000002], [21.410594, 41.965282000000002], [21.411023100000001, 41.965090500000002], [21.411323500000002, 41.965026700000003], [21.411624, 41.965026700000003], [21.411967300000001, 41.965090500000002], [21.412653899999999, 41.965090500000002], [21.4129972, 41.965026700000003], [21.413426399999999, 41.965026700000003], [21.4138126, 41.965090500000002], [21.414499299999999, 41.965377699999998], [21.414928400000001, 41.965377699999998], [21.4158297, 41.965122399999998], [21.416344599999999, 41.965058599999999], [21.416816699999998, 41.9648033], [21.417031300000001, 41.9648033], [21.417224399999998, 41.964946900000001], [21.417224399999998, 41.965266], [21.4174604, 41.965409600000001], [21.418061300000002, 41.965313899999998], [21.418662099999999, 41.965313899999998], [21.4192629, 41.965218200000002], [21.420164100000001, 41.964931], [21.420936600000001, 41.964771399999997], [21.421408700000001, 41.964579999999998], [21.4221811, 41.964420400000002], [21.423382799999999, 41.964037500000003], [21.424155200000001, 41.963941800000001], [21.4250565, 41.963941800000001], [21.425914800000001, 41.963750300000001], [21.426730200000002, 41.963718399999998], [21.4275026, 41.9638141], [21.428875900000001, 41.9638141], [21.429090500000001, 41.963909800000003], [21.429541100000002, 41.964308699999997], [21.430120500000001, 41.964707599999997], [21.431193400000002, 41.964994799999999], [21.432008700000001, 41.965090500000002], [21.433510800000001, 41.965696800000003], [21.434154500000002, 41.965916200000002], [21.435103999999999, 41.965896200000003], [21.435459900000001, 41.9661081], [21.435407900000001, 41.965997700000003], [21.435362300000001, 41.965995700000001], [21.435319400000001, 41.9659099], [21.435222799999998, 41.965871999999997], [21.4351719, 41.965784300000003], [21.4351737, 41.965656899999999], [21.4353856, 41.965487400000001], [21.435254199999999, 41.965086499999998], [21.434905499999999, 41.964755500000003], [21.434905499999999, 41.9644683], [21.435034300000002, 41.964244899999997], [21.435034300000002, 41.964085300000001], [21.434776800000002, 41.963830100000003], [21.434926999999998, 41.963654599999998], [21.435012799999999, 41.963654599999998], [21.4352059, 41.963510999999997], [21.4352059, 41.963319499999997], [21.435120099999999, 41.963159900000001], [21.435162999999999, 41.962745099999999], [21.435034300000002, 41.962457899999997], [21.435034300000002, 41.962043100000002], [21.4352059, 41.961723900000003], [21.4357209, 41.961181400000001], [21.4367509, 41.960415599999997], [21.436922599999999, 41.960064500000001], [21.436922599999999, 41.959841099999998], [21.436321700000001, 41.959139100000002], [21.4352059, 41.958149800000001], [21.435077199999998, 41.957703000000002], [21.434733900000001, 41.9572243], [21.434390499999999, 41.956873199999997], [21.434390499999999, 41.956777500000001], [21.434454899999999, 41.956729600000003], [21.434712399999999, 41.956761499999999], [21.435914, 41.957176400000002], [21.436514899999999, 41.9576232], [21.436986900000001, 41.957846600000003], [21.437501900000001, 41.957846600000003], [21.438016900000001, 41.957687], [21.438489000000001, 41.957718900000003], [21.438574800000001, 41.957687], [21.438682100000001, 41.957607199999998], [21.438725000000002, 41.957447700000003], [21.438918099999999, 41.957240200000001], [21.4403772, 41.956569999999999], [21.441450100000001, 41.955644499999998], [21.441793400000002, 41.955452999999999], [21.442222600000001, 41.955293500000003], [21.442651699999999, 41.955165800000003], [21.443080900000002, 41.955101999999997], [21.443424199999999, 41.954910499999997], [21.444110899999998, 41.954878600000001], [21.445484199999999, 41.955101999999997], [21.447420699999999, 41.955838], [21.447634300000001, 41.955941199999998], [21.448574099999998, 41.956474300000004], [21.4492178, 41.956857300000003], [21.449947399999999, 41.957399799999997], [21.450462300000002, 41.957655099999997], [21.450977300000002, 41.958069999999999], [21.451449400000001, 41.958197599999998], [21.451749800000002, 41.958197599999998], [21.452264799999998, 41.958293400000002], [21.452522299999998, 41.958389099999998], [21.4531016, 41.958979499999998], [21.4534235, 41.959218800000002], [21.453852699999999, 41.959346500000002], [21.4542818, 41.959314599999999], [21.4550114, 41.959346500000002], [21.455247400000001, 41.959522], [21.455290300000001, 41.959809200000002], [21.455376099999999, 41.959936900000002], [21.455655100000001, 41.960144300000003], [21.456341699999999, 41.960399600000002], [21.4568996, 41.960367699999999], [21.4570498, 41.960479399999997], [21.457092800000002, 41.9607028], [21.457393199999999, 41.961117600000001], [21.4575219, 41.961468699999998], [21.457993999999999, 41.962011099999998], [21.458122700000001, 41.9622983], [21.458315800000001, 41.962505800000002], [21.4586592, 41.962537699999999], [21.4592171, 41.962441900000002], [21.459410200000001, 41.962649399999997], [21.459410200000001, 41.962904700000003], [21.459538899999998, 41.963191899999998], [21.459817900000001, 41.963367400000003], [21.460290000000001, 41.963463099999998], [21.460847900000001, 41.963654599999998], [21.462628800000001, 41.965074600000001], [21.4633155, 41.965712799999999], [21.464152299999999, 41.966303099999998], [21.465997699999999, 41.967068900000001], [21.4666414, 41.967228400000003], [21.466984700000001, 41.9672603], [21.4672637, 41.967052899999999], [21.4672637, 41.966893399999996], [21.467392400000001, 41.966797700000001], [21.4677787, 41.9661276], [21.468164900000001, 41.965744700000002], [21.468465299999998, 41.965329799999999], [21.468508199999999, 41.965170299999997], [21.468164900000001, 41.964723599999999], [21.468207799999998, 41.964627800000002], [21.468401, 41.964484200000001], [21.469902999999999, 41.9638141], [21.470053199999999, 41.963670499999999], [21.470053199999999, 41.963574800000004], [21.469495299999998, 41.962777000000003], [21.469495299999998, 41.962649399999997], [21.469752799999998, 41.962362200000001], [21.469237799999998, 41.961979200000002], [21.469237799999998, 41.961883499999999], [21.469581099999999, 41.9616282], [21.469624, 41.961309100000001], [21.469473799999999, 41.961197400000003], [21.468744300000001, 41.961229299999999], [21.4685512, 41.961021899999999], [21.4685512, 41.960862300000002], [21.468744300000001, 41.960750599999997], [21.469130499999999, 41.960942099999997], [21.469988799999999, 41.960910200000001], [21.4706969, 41.960319800000001], [21.4706969, 41.960032599999998], [21.4709544, 41.959777299999999], [21.471190499999999, 41.959601800000002], [21.471705400000001, 41.959346500000002], [21.472177500000001, 41.959186899999999], [21.472327700000001, 41.959075200000001], [21.472284800000001, 41.958851799999998], [21.472027300000001, 41.958500800000003], [21.472220400000001, 41.958357200000002], [21.473765400000001, 41.958484800000001], [21.474108699999999, 41.958548700000001], [21.475439099999999, 41.958612500000001], [21.476125700000001, 41.958708199999997], [21.476318800000001, 41.958596499999999], [21.4767051, 41.957958300000001], [21.4767051, 41.957766800000002], [21.476318800000001, 41.957320000000003], [21.4761472, 41.957192300000003], [21.476104299999999, 41.957064699999997], [21.4764047, 41.956745599999998], [21.476619199999998, 41.956394500000002], [21.4766622, 41.956171099999999], [21.476790900000001, 41.955947700000003], [21.476790900000001, 41.955756200000003], [21.4765978, 41.955612600000002], [21.476168600000001, 41.955612600000002], [21.475911100000001, 41.955516899999999], [21.475696599999999, 41.955421100000002], [21.475503400000001, 41.955277500000001], [21.475503400000001, 41.955213700000002], [21.476018400000001, 41.954639200000003], [21.476211500000002, 41.954495600000001], [21.4763403, 41.954463699999998], [21.4765978, 41.954495600000001], [21.476790900000001, 41.954352], [21.476876699999998, 41.9540966], [21.476748000000001, 41.953745599999998], [21.4765549, 41.953601999999997], [21.4750099, 41.9534424], [21.474623699999999, 41.953282799999997], [21.473936999999999, 41.9532509], [21.473786799999999, 41.953107299999999], [21.473915600000002, 41.952309399999997], [21.473872700000001, 41.952053999999997], [21.473636599999999, 41.9520062], [21.473465000000001, 41.952069999999999], [21.473314800000001, 41.951990199999997], [21.473271799999999, 41.951862499999997], [21.473078699999999, 41.951782700000003], [21.4728642, 41.951846600000003], [21.472735400000001, 41.9518147], [21.4724994, 41.951670999999997], [21.472370600000001, 41.951447600000002], [21.472370600000001, 41.951351899999999], [21.4724565, 41.951287999999998], [21.472542300000001, 41.951064600000002], [21.472542300000001, 41.950873100000003], [21.4722419, 41.9505859], [21.472027300000001, 41.950234799999997], [21.472027300000001, 41.950075200000001], [21.472327700000001, 41.949596399999997], [21.472284800000001, 41.949053800000002], [21.472177500000001, 41.948974], [21.4720488, 41.948974], [21.4715338, 41.949165499999999], [21.4713192, 41.949165499999999], [21.471169, 41.949053800000002], [21.471040200000001, 41.948670800000002], [21.471040200000001, 41.948032400000002], [21.470997300000001, 41.948000499999999], [21.470997300000001, 41.9474898], [21.471083199999999, 41.9471706], [21.470010299999998, 41.945861999999998], [21.469323599999999, 41.945127800000002], [21.469280699999999, 41.944936300000002], [21.469366600000001, 41.944840499999998], [21.469581099999999, 41.944202099999998], [21.469752799999998, 41.943914800000002], [21.469988799999999, 41.943707400000001], [21.4705467, 41.943579700000001], [21.470890000000001, 41.943452000000001], [21.471083199999999, 41.943308399999999], [21.471297700000001, 41.942733799999999], [21.471555200000001, 41.942318800000002], [21.471641099999999, 41.941967699999999], [21.4724994, 41.941297300000002], [21.472928499999998, 41.940690799999999], [21.472971399999999, 41.940467300000002], [21.473100200000001, 41.940275800000002], [21.473206099999999, 41.940126200000002], [21.473341600000001, 41.940034400000002], [21.4743876, 41.940754599999998], [21.4746022, 41.941265399999999], [21.474559299999999, 41.941871900000002], [21.474688100000002, 41.942127300000003], [21.474688100000002, 41.942350699999999], [21.474773899999999, 41.942446500000003], [21.474924099999999, 41.942526299999997], [21.475439099999999, 41.942622100000001], [21.4768553, 41.9430689], [21.477842299999999, 41.943675399999997], [21.478056899999999, 41.9436435], [21.478378800000002, 41.943340300000003], [21.478743600000001, 41.943100899999997], [21.479301499999998, 41.9430689], [21.479644799999999, 41.9427497], [21.4802456, 41.942590099999997], [21.4807177, 41.942590099999997], [21.482605899999999, 41.942845499999997], [21.482820499999999, 41.942909299999997], [21.482992200000002, 41.942909299999997], [21.4839363, 41.942653999999997], [21.484172300000001, 41.942797599999999], [21.484386900000001, 41.943052999999999], [21.484880400000002, 41.943420099999997], [21.485395400000002, 41.943579700000001], [21.486382500000001, 41.9441542], [21.486640000000001, 41.944122299999997], [21.4879274, 41.9441542], [21.488313699999999, 41.944186199999997], [21.488657, 41.9442819], [21.489043200000001, 41.9440904], [21.4892149, 41.944058499999997], [21.489236399999999, 41.944329799999998], [21.489408000000001, 41.944425600000002], [21.489708400000001, 41.944712799999998], [21.489923000000001, 41.945031999999998], [21.489880100000001, 41.945223599999998], [21.4895797, 41.945574700000002], [21.4895797, 41.945702400000002], [21.4900947, 41.946085400000001], [21.490180500000001, 41.946213100000001], [21.4900947, 41.946500299999997], [21.490223400000001, 41.9466599], [21.490459399999999, 41.946803600000003], [21.490759799999999, 41.946835499999999], [21.4928627, 41.947569600000001], [21.4938927, 41.947952600000001], [21.4940429, 41.9480644], [21.494085800000001, 41.948128199999999], [21.4935279, 41.948734600000002], [21.493313300000001, 41.949149599999998], [21.493570800000001, 41.949660299999998], [21.493871200000001, 41.950553900000003], [21.494, 41.950745400000002], [21.4941931, 41.950889099999998], [21.494493500000001, 41.950889099999998], [21.495266000000001, 41.950761399999998], [21.495501999999998, 41.9505859], [21.495544899999999, 41.950426299999997], [21.495802399999999, 41.950107099999997], [21.495995499999999, 41.949995399999999], [21.4981413, 41.949963500000003], [21.4986563, 41.950091100000002], [21.4987636, 41.950202900000001], [21.498677699999998, 41.9507774], [21.498827899999998, 41.950889099999998], [21.499342899999998, 41.950857200000002], [21.500458699999999, 41.950665700000002], [21.5006518, 41.9507774], [21.5008664, 41.951096499999998], [21.501102400000001, 41.951208200000004], [21.501359900000001, 41.951208200000004], [21.501917800000001, 41.951080599999997], [21.5022612, 41.951080599999997], [21.502647400000001, 41.951208200000004], [21.503033599999998, 41.951208200000004], [21.503333999999999, 41.951272099999997], [21.503419900000001, 41.951335899999997], [21.5036345, 41.951335899999997], [21.504020700000002, 41.9516232], [21.504492800000001, 41.951878499999999], [21.505136499999999, 41.951998199999998], [21.505922399999999, 41.9524969], [21.506110100000001, 41.952832000000001], [21.506300599999999, 41.953745599999998], [21.50666, 41.954186399999998], [21.506770199999998, 41.954233899999998], [21.506822799999998, 41.954279], [21.506843700000001, 41.954321999999998], [21.507028800000001, 41.954481600000001], [21.507203100000002, 41.954555399999997], [21.507358700000001, 41.954683099999997], [21.507490099999998, 41.954738900000002], [21.5077423, 41.955115900000003], [21.507767699999999, 41.955253599999999], [21.5077879, 41.955421100000002], [21.507838799999998, 41.955572699999998], [21.507968900000002, 41.9557103], [21.508526799999999, 41.956171099999999], [21.508612599999999, 41.956809399999997], [21.5097284, 41.957639100000002], [21.5097284, 41.957958300000001], [21.509127599999999, 41.9583412], [21.509127599999999, 41.9584689], [21.509342199999999, 41.958628500000003], [21.5107155, 41.958883800000002], [21.5117455, 41.958819900000002], [21.511917100000002, 41.958883800000002], [21.512560799999999, 41.959490099999996], [21.512818299999999, 41.960000700000002], [21.514277499999999, 41.960830399999999], [21.514363299999999, 41.961532499999997], [21.514105799999999, 41.962106900000002], [21.514534999999999, 41.962808899999999], [21.514534999999999, 41.963000399999999], [21.5141916, 41.963447100000003], [21.5141916, 41.963638600000003], [21.515135799999999, 41.964978799999997], [21.515307400000001, 41.965425600000003], [21.5156937, 41.965648899999998], [21.517410300000002, 41.965074600000001], [21.5178823, 41.965361700000003], [21.518268599999999, 41.965840399999998], [21.5186119, 41.965904199999997], [21.520671799999999, 41.9652022], [21.521530200000001, 41.965074600000001], [21.5235901, 41.965648899999998], [21.524448400000001, 41.966031800000003], [21.524791700000002, 41.966031800000003], [21.525564200000002, 41.965712799999999], [21.526594200000002, 41.965521299999999], [21.526894599999999, 41.965297900000003], [21.527237899999999, 41.964723599999999], [21.528182000000001, 41.963702400000003], [21.529169100000001, 41.963032300000002], [21.529512400000002, 41.962968500000002], [21.529898599999999, 41.963191899999998], [21.5317869, 41.965808500000001], [21.5317145, 41.970534899999997], [21.531054699999999, 41.970305600000003], [21.530563799999999, 41.9697332], [21.530435099999998, 41.969222700000003], [21.530306299999999, 41.969031299999997], [21.529898599999999, 41.968696199999997], [21.528654100000001, 41.968217600000003], [21.5283537, 41.968153800000003], [21.5277958, 41.968089999999997], [21.5273237, 41.968089999999997], [21.5268087, 41.968185699999999], [21.526594200000002, 41.968281400000002], [21.526100599999999, 41.968648399999999], [21.525929000000001, 41.968839799999998], [21.525714399999998, 41.969254599999999], [21.525456899999998, 41.970148000000002], [21.525328200000001, 41.971679600000002], [21.525070700000001, 41.972668599999999], [21.5242982, 41.973785300000003], [21.5228176, 41.974918000000002], [21.522259699999999, 41.975205099999997], [21.521980800000001, 41.975412499999997], [21.521766199999998, 41.975763499999999], [21.521165400000001, 41.9760645], [21.520703999999999, 41.975745500000002], [21.520449200000002, 41.9761144], [21.511402100000002, 41.980564899999997], [21.5112305, 41.980596800000001], [21.5111876, 41.980692500000004], [21.510973, 41.980756300000003], [21.507883100000001, 41.982287599999999], [21.50769, 41.982431099999999], [21.507732900000001, 41.982622499999998], [21.5090632, 41.984026200000002], [21.509191999999999, 41.984313299999997], [21.509492399999999, 41.984632300000001], [21.509706999999999, 41.985110800000001], [21.5097928, 41.985365999999999], [21.5097928, 41.985940200000002], [21.509706999999999, 41.9861954], [21.509706999999999, 41.986546199999999], [21.5097928, 41.986769500000001], [21.509406599999998, 41.9873756], [21.509406599999998, 41.987630799999998], [21.5093207, 41.987822199999997], [21.5093207, 41.988428300000002], [21.5096211, 41.989225699999999], [21.5098357, 41.989544700000003], [21.510264899999999, 41.989959399999996], [21.5103507, 41.990150700000001], [21.510586700000001, 41.990294300000002], [21.510844200000001, 41.990326199999998], [21.5112305, 41.990645100000002], [21.511616700000001, 41.990613199999999], [21.512002899999999, 41.990708900000001], [21.512603800000001, 41.990772700000001], [21.521487199999999, 41.9909003], [21.521530200000001, 41.990932200000003], [21.522774699999999, 41.990932200000003], [21.523118, 41.990996000000003], [21.524577099999998, 41.990996000000003], [21.5246201, 41.991027899999999], [21.5249205, 41.990996000000003], [21.529394400000001, 41.990988100000003], [21.532993900000001, 41.9909721], [21.534667599999999, 41.991159500000002], [21.534844700000001, 41.9909283], [21.535305999999999, 41.991203300000002], [21.5357351, 41.991841299999997], [21.535649299999999, 41.993499900000003], [21.5357351, 41.993627400000001], [21.536121399999999, 41.993850700000003], [21.537323000000001, 41.993914500000002], [21.537709199999998, 41.994201599999997], [21.537478499999999, 41.9945345], [21.537372300000001, 41.994551899999998], [21.536915, 41.994867900000003], [21.536625300000001, 41.995074199999998], [21.536463600000001, 41.995162399999998], [21.536574699999999, 41.995224700000001], [21.536643699999999, 41.995259599999997], [21.5368241, 41.995311899999997], [21.5368751, 41.995499299999999], [21.5359497, 41.995716600000002], [21.535348899999999, 41.995748499999998], [21.534962700000001, 41.995684699999998], [21.5338469, 41.995269999999998], [21.533203100000001, 41.995684699999998], [21.533160200000001, 41.995780400000001], [21.532259, 41.996290700000003], [21.531701099999999, 41.996513899999997], [21.5310144, 41.996673399999999], [21.530585299999998, 41.996737199999998], [21.529684100000001, 41.996769100000002], [21.527109100000001, 41.996513899999997], [21.526637099999999, 41.996513899999997], [21.525692899999999, 41.996641500000003], [21.525392499999999, 41.996641500000003], [21.5228176, 41.997056100000002], [21.521959299999999, 41.9973113], [21.521358500000002, 41.997630200000003], [21.520929299999999, 41.997789699999998], [21.519856499999999, 41.998044800000002], [21.518697700000001, 41.998236200000001], [21.5154791, 41.9990016], [21.5149641, 41.999097300000003], [21.514700399999999, 41.999097300000003], [21.514534999999999, 41.999097300000003], [21.513805399999999, 41.998905899999997], [21.513333299999999, 41.998810300000002], [21.513183099999999, 41.998666700000001], [21.513097299999998, 41.998347799999998], [21.513097299999998, 41.997709899999997], [21.512947100000002, 41.9975983], [21.512432100000002, 41.9975983], [21.508998900000002, 41.997885400000001], [21.507496799999998, 41.998076699999999], [21.505393999999999, 41.998459400000002], [21.503720300000001, 41.998842099999997], [21.503527200000001, 41.998985699999999], [21.503527200000001, 41.999272699999999], [21.503613000000001, 41.999527800000003], [21.503891899999999, 41.999671399999997], [21.504042099999999, 41.999814899999997], [21.504213799999999, 42.0007716], [21.504256699999999, 42.000867300000003], [21.5044498, 42.001010800000003], [21.505093599999999, 42.000946999999996], [21.5062952, 42.0006919], [21.5065527, 42.0006919], [21.5070248, 42.000596199999997], [21.507217900000001, 42.000707900000002], [21.507260800000001, 42.0008354], [21.507646999999999, 42.002557600000003], [21.507775800000001, 42.002876499999999], [21.507905900000001, 42.002898799999997], [21.508054699999999, 42.002924299999997], [21.508398100000001, 42.002828600000001], [21.508870099999999, 42.002541600000001], [21.508956000000001, 42.002541600000001], [21.5090632, 42.002621300000001], [21.508719899999999, 42.0036737], [21.508676999999999, 42.004152099999999], [21.508505299999999, 42.004471000000002], [21.508505299999999, 42.005013099999999], [21.508623799999999, 42.005126300000001], [21.5086555, 42.005156599999999], [21.5091815, 42.005274800000002], [21.509599699999999, 42.005379900000001], [21.509900099999999, 42.005379900000001], [21.510095, 42.0053129], [21.510329200000001, 42.0050928], [21.511402100000002, 42.004901500000003], [21.512260399999999, 42.004550700000003], [21.512389200000001, 42.004550700000003], [21.512539400000001, 42.0046623], [21.512839799999998, 42.005395800000002], [21.512882699999999, 42.0058741], [21.512796900000001, 42.0061611], [21.512668099999999, 42.006352499999998], [21.512539400000001, 42.006862699999999], [21.512196100000001, 42.0074367], [21.512024400000001, 42.007851299999999], [21.511766900000001, 42.0082339], [21.511809800000002, 42.008329600000003], [21.511959999999998, 42.0084412], [21.512432100000002, 42.008568699999998], [21.5136337, 42.0090152], [21.5141487, 42.009142699999998], [21.5142989, 42.009318100000002], [21.514213099999999, 42.009477500000003], [21.514213099999999, 42.009636999999998], [21.514363299999999, 42.009748600000002], [21.515092800000001, 42.0098761], [21.5154362, 42.010003699999999], [21.516246200000001, 42.010137200000003], [21.516586799999999, 42.010218899999998], [21.5171253, 42.010278700000001], [21.516702200000001, 42.011709600000003], [21.516444700000001, 42.0130488], [21.516058399999999, 42.013463399999999], [21.515457600000001, 42.0139098], [21.515157200000001, 42.014356100000001], [21.5149212, 42.014531499999997], [21.514749500000001, 42.014595300000003], [21.514234500000001, 42.014722800000001], [21.513805399999999, 42.014754699999997], [21.5112305, 42.0157113], [21.5111876, 42.015774999999998], [21.510415099999999, 42.016061999999998], [21.5101361, 42.016269200000004], [21.5100932, 42.016364899999999], [21.510395899999999, 42.016880800000003], [21.509943, 42.016986600000003], [21.509385099999999, 42.017082299999998], [21.508312199999999, 42.017719900000003], [21.507968900000002, 42.017815599999999], [21.507668500000001, 42.017688100000001], [21.507539699999999, 42.017688100000001], [21.507110600000001, 42.0179112], [21.506381000000001, 42.017943099999997], [21.505951899999999, 42.017879399999998], [21.505823100000001, 42.017815599999999], [21.5044498, 42.0166678], [21.504363999999999, 42.0166678], [21.503140899999998, 42.015918499999998], [21.503055100000001, 42.015791], [21.502926299999999, 42.015089500000002], [21.502690300000001, 42.014882299999996], [21.501746199999999, 42.014690899999998], [21.501553099999999, 42.014579300000001], [21.5014243, 42.013750299999998], [21.501317, 42.013638700000001], [21.500845000000002, 42.013447399999997], [21.500523099999999, 42.013240199999998], [21.500308499999999, 42.012953199999998], [21.499965199999998, 42.012729999999998], [21.499922300000001, 42.012474900000001], [21.499857899999999, 42.012427099999996], [21.499729200000001, 42.012427099999996], [21.499471700000001, 42.012586499999998], [21.498827899999998, 42.012809699999998], [21.498313, 42.012809699999998], [21.497926700000001, 42.012522699999998], [21.4978409, 42.012522699999998], [21.496210099999999, 42.0131923], [21.495051400000001, 42.0135431], [21.494879699999998, 42.0135431], [21.4947081, 42.0134793], [21.494493500000001, 42.013511200000003], [21.494321800000002, 42.013606799999998], [21.494107199999998, 42.013638700000001], [21.4928627, 42.014085100000003], [21.492218999999999, 42.014531499999997], [21.490888600000002, 42.015169200000003], [21.489558200000001, 42.016221399999999], [21.489257800000001, 42.016348899999997], [21.489172, 42.016476500000003], [21.4888716, 42.0166678], [21.488785700000001, 42.0166678], [21.4884424, 42.016922800000003], [21.487712899999998, 42.017337300000001], [21.486811599999999, 42.017751799999999], [21.486425400000002, 42.018006900000003], [21.485352500000001, 42.018485099999999], [21.484065099999999, 42.0194416], [21.4835715, 42.019744500000002], [21.4830565, 42.020477800000002], [21.482713199999999, 42.0208285], [21.482270700000001, 42.021318700000002], [21.481211200000001, 42.022039999999997], [21.481254100000001, 42.022135599999999], [21.481404300000001, 42.022215299999999], [21.484022100000001, 42.023044300000002], [21.484172300000001, 42.023187700000001], [21.4840865, 42.023347100000002], [21.482198199999999, 42.025259900000002], [21.482005099999999, 42.025371499999999], [21.481661800000001, 42.025339600000002], [21.479816400000001, 42.024765799999997], [21.479644799999999, 42.024797700000001], [21.479451699999998, 42.024941099999999], [21.477734999999999, 42.026885800000002], [21.477820900000001, 42.0270133], [21.477928200000001, 42.027061099999997], [21.4789581, 42.027252400000002], [21.479644799999999, 42.027507399999998], [21.4802027, 42.0278262], [21.480889300000001, 42.028049299999999], [21.483018999999999, 42.028953899999998], [21.482959999999999, 42.029003699999997], [21.4828902, 42.028967799999997], [21.482562999999999, 42.029101300000001], [21.4818335, 42.029420100000003], [21.481082399999998, 42.029946099999997], [21.480953700000001, 42.030073600000001], [21.480953700000001, 42.030233000000003], [21.481146800000001, 42.030376400000002], [21.482047999999999, 42.030822700000002], [21.483249699999998, 42.0315558], [21.4841938, 42.031970200000004], [21.484794600000001, 42.032097700000001], [21.484944800000001, 42.032209299999998], [21.484944800000001, 42.0323049], [21.484773199999999, 42.032559900000003], [21.4844513, 42.032798999999997], [21.4842367, 42.032862799999997], [21.484065099999999, 42.032990300000002], [21.4838719, 42.033006200000003], [21.483743199999999, 42.0331975], [21.483142399999998, 42.033707499999998], [21.4829063, 42.0341059], [21.482691800000001, 42.0341697], [21.481962200000002, 42.033882800000001], [21.481704700000002, 42.033882800000001], [21.481146800000001, 42.0341059], [21.480782000000001, 42.034376899999998], [21.4806104, 42.034727500000002], [21.480224100000001, 42.035141799999998], [21.4799881, 42.035317200000001], [21.479430199999999, 42.035603999999999], [21.478400199999999, 42.036273399999999], [21.477327299999999, 42.036719599999998], [21.4765978, 42.037102099999998], [21.4763403, 42.037293400000003], [21.475911100000001, 42.0372615], [21.475282199999999, 42.037379999999999], [21.474961199999999, 42.038001999999999], [21.474893399999999, 42.037990299999997], [21.474862099999999, 42.038028400000002], [21.473110200000001, 42.037539899999999], [21.471908599999999, 42.0376355], [21.471157600000002, 42.037603599999997], [21.471458699999999, 42.038376999999997], [21.4714694, 42.039126099999997], [21.4714694, 42.039380999999999], [21.471340699999999, 42.039508499999997], [21.471340699999999, 42.039667899999998], [21.4714694, 42.039763499999999], [21.4714694, 42.039890999999997], [21.470825699999999, 42.040337200000003], [21.470782799999999, 42.040432799999998], [21.471126099999999, 42.041006500000002], [21.471340699999999, 42.041930800000003], [21.471641099999999, 42.0422814], [21.471769800000001, 42.042600100000001], [21.471812700000001, 42.042918800000002], [21.4719415, 42.043237499999996], [21.4719844, 42.044066100000002], [21.472155999999998, 42.044353000000001], [21.472113100000001, 42.044544199999997], [21.471898599999999, 42.0447354], [21.471898599999999, 42.044862899999998], [21.472268700000001, 42.045253299999999], [21.4717913, 42.045366799999996], [21.471761799999999, 42.045568000000003], [21.471297700000001, 42.045675600000003], [21.471532799999999, 42.046239], [21.471073799999999, 42.046275100000003], [21.470193999999999, 42.046219299999997], [21.470193999999999, 42.045884700000002], [21.469807800000002, 42.045757199999997], [21.469550300000002, 42.045589900000003], [21.468981700000001, 42.045605799999997], [21.468595400000002, 42.044912699999998], [21.468670500000002, 42.044761299999998], [21.468005300000002, 42.044681599999997], [21.466513200000001, 42.044655599999999], [21.466391300000002, 42.044699799999997], [21.467051600000001, 42.045741200000002], [21.467021800000001, 42.045738900000003], [21.4667192, 42.045771199999997], [21.4666897, 42.0459186], [21.4663088, 42.045850799999997], [21.466323599999999, 42.045717400000001], [21.4660875, 42.045699499999998], [21.465482699999999, 42.0455003], [21.464881900000002, 42.0455003], [21.464538600000001, 42.045627799999998], [21.4639807, 42.046042100000001], [21.463294000000001, 42.046998100000003], [21.462736100000001, 42.047348700000001], [21.462564499999999, 42.047348700000001], [21.4621782, 42.047061900000003], [21.4621782, 42.046934399999998], [21.4631224, 42.046042100000001], [21.4631224, 42.0457234], [21.4628649, 42.045340899999999], [21.4629507, 42.044703499999997], [21.4620924, 42.043938699999998], [21.461749099999999, 42.043492499999999], [21.461749099999999, 42.043173799999998], [21.4620924, 42.042791299999998], [21.462006599999999, 42.042536300000002], [21.460933699999998, 42.041930800000003], [21.460590400000001, 42.041930800000003], [21.460290000000001, 42.042217600000001], [21.460118300000001, 42.042855099999997], [21.459817900000001, 42.043078199999997], [21.4587021, 42.043078199999997], [21.458272900000001, 42.042950699999999], [21.4574146, 42.043078199999997], [21.456942600000001, 42.043365000000001], [21.456556299999999, 42.044097999999998], [21.456298799999999, 42.044225500000003], [21.4555264, 42.044289200000001], [21.4553118, 42.044512300000001], [21.4553118, 42.045404699999999], [21.455140100000001, 42.045978300000002], [21.454925500000002, 42.046137700000003], [21.454410599999999, 42.046201400000001], [21.4537239, 42.046711299999998], [21.449861500000001, 42.046774999999997], [21.449089099999998, 42.046392599999997], [21.447372399999999, 42.046583800000001], [21.447157900000001, 42.0468069], [21.447522599999999, 42.048563700000003], [21.445763100000001, 42.048695100000003], [21.445277000000001, 42.048727999999997], [21.444676099999999, 42.048773799999999], [21.444472300000001, 42.048654300000003], [21.444515899999999, 42.0484103], [21.443756799999999, 42.048312699999997], [21.442909199999999, 42.047986100000003], [21.442308400000002, 42.047539899999997], [21.4416647, 42.047253099999999], [21.4415789, 42.046998100000003], [21.4416647, 42.046360800000002], [21.442093799999999, 42.045532199999997], [21.442093799999999, 42.045277200000001], [21.441793400000002, 42.045054100000002], [21.440535199999999, 42.0448357], [21.4400294, 42.045688800000001], [21.438738099999998, 42.045315799999997], [21.437080999999999, 42.044947700000002], [21.437499599999999, 42.043966900000001], [21.4375021, 42.043335599999999], [21.437361800000001, 42.042706199999998], [21.4332104, 42.045372800000003], [21.4286238, 42.048364499999998], [21.4284736, 42.048169299999998], [21.427890900000001, 42.046697399999999], [21.4267866, 42.046956600000001], [21.426880400000002, 42.047806799999996], [21.426558499999999, 42.047946199999998], [21.426254799999999, 42.047688999999998], [21.425962999999999, 42.047695300000001], [21.425743099999998, 42.047862600000002], [21.4251866, 42.048479299999997], [21.424676900000001, 42.048415300000002], [21.420679100000001, 42.048161299999997], [21.4177608, 42.047842600000003], [21.417503400000001, 42.047938299999998], [21.416773800000001, 42.048384400000003], [21.416301700000002, 42.048607500000003], [21.4153576, 42.048957999999999], [21.415014299999999, 42.049021799999998], [21.4145851, 42.049181099999998], [21.414241799999999, 42.049181099999998], [21.4139628, 42.049005800000003], [21.413834099999999, 42.0488146], [21.413233300000002, 42.048272900000001], [21.412932900000001, 42.047922300000003], [21.412503699999998, 42.047253099999999], [21.412375000000001, 42.046488199999999], [21.412203300000002, 42.046105799999999], [21.411430800000002, 42.044990400000003], [21.411206199999999, 42.044601999999998], [21.4112793, 42.044527299999999], [21.4111935, 42.044385800000001], [21.411118399999999, 42.0440562], [21.412439299999999, 42.044145800000003], [21.412954299999999, 42.0442733], [21.413125999999998, 42.044241399999997], [21.413233300000002, 42.044161699999997], [21.414864099999999, 42.041134], [21.415078600000001, 42.040464700000001], [21.4149928, 42.040337200000003], [21.4148426, 42.040257500000003], [21.4129972, 42.0397794], [21.412846999999999, 42.039667899999998], [21.412846999999999, 42.039508499999997], [21.412975800000002, 42.039157899999999], [21.413168899999999, 42.0390145], [21.413383499999998, 42.0390145], [21.414113, 42.039173900000002], [21.414349099999999, 42.039030400000001], [21.415121599999999, 42.037277400000001], [21.415593600000001, 42.036448700000001], [21.4157653, 42.036002500000002], [21.415915500000001, 42.035859000000002], [21.416173000000001, 42.0358272], [21.416516300000001, 42.035859000000002], [21.4180183, 42.036113999999998], [21.418189999999999, 42.036113999999998], [21.418340199999999, 42.036002500000002], [21.418340199999999, 42.034345000000002], [21.418147099999999, 42.034201500000002], [21.417202899999999, 42.034137800000003], [21.417052699999999, 42.0340262], [21.417052699999999, 42.033898700000002], [21.417181500000002, 42.033580000000001], [21.417481899999999, 42.033101799999997], [21.417481899999999, 42.033006200000003], [21.417567699999999, 42.032974299999999], [21.417739399999999, 42.0325281], [21.4179754, 42.032416499999997], [21.418447499999999, 42.032480300000003], [21.4186406, 42.032336800000003], [21.418597699999999, 42.032209299999998], [21.418447499999999, 42.032097700000001], [21.4183187, 42.032097700000001], [21.4181685, 42.031954300000002], [21.418254399999999, 42.031412400000001], [21.417739399999999, 42.031125500000002], [21.417696500000002, 42.030997999999997], [21.418726400000001, 42.030105399999997], [21.419069799999999, 42.029627300000001], [21.419646400000001, 42.028457799999998], [21.419682699999999, 42.0282725], [21.419698100000002, 42.028226699999998], [21.419486899999999, 42.028176799999997], [21.418139, 42.028029400000001], [21.417148000000001, 42.027841100000003], [21.4153147, 42.027730499999997], [21.414971399999999, 42.0277624], [21.4147997, 42.0278262], [21.4140701, 42.0278262], [21.4140272, 42.027794299999996], [21.412184499999999, 42.027626900000001], [21.4110768, 42.027391799999997], [21.410036099999999, 42.027387900000001], [21.409049, 42.0273161], [21.408646699999998, 42.027252400000002], [21.4084556, 42.027167200000001], [21.4084884, 42.027094400000003], [21.4083644, 42.0269665], [21.408027100000002, 42.027061099999997], [21.408000300000001, 42.027188600000002], [21.4076436, 42.027162699999998], [21.407032000000001, 42.027124899999997], [21.4059591, 42.027061099999997], [21.4057016, 42.026997299999998], [21.404929200000002, 42.026997299999998], [21.403469999999999, 42.026774199999998], [21.4022255, 42.026710399999999], [21.4020324, 42.026822000000003], [21.4018178, 42.027076999999998], [21.4014959, 42.0273161], [21.4013457, 42.027363899999997], [21.401324299999999, 42.027443599999998], [21.401023899999998, 42.027571199999997], [21.400423, 42.027953699999998], [21.399714899999999, 42.028543399999997], [21.399328700000002, 42.028973800000003], [21.3988674, 42.028441800000003], [21.398709100000001, 42.028508600000002], [21.398536100000001, 42.028557399999997], [21.3980493, 42.028672899999997], [21.3977489, 42.028641100000002], [21.3975987, 42.028529499999998], [21.3973412, 42.028146999999997], [21.396954999999998, 42.027732499999999], [21.396547300000002, 42.027461600000002], [21.396375599999999, 42.027461600000002], [21.396075199999999, 42.0275891], [21.395474400000001, 42.027748500000001], [21.3940582, 42.027939799999999], [21.3932857, 42.028003499999997], [21.392126999999999, 42.027971600000001], [21.391976799999998, 42.027860099999998], [21.3921055, 42.027190599999997], [21.392835099999999, 42.026297999999997], [21.393307100000001, 42.025214099999999], [21.393264200000001, 42.025022800000002], [21.393114000000001, 42.024943100000002], [21.388779599999999, 42.0244012], [21.388650800000001, 42.0244012], [21.388522099999999, 42.024464899999998], [21.3883075, 42.024720000000002], [21.388135900000002, 42.024720000000002], [21.3877925, 42.024592400000003], [21.387449199999999, 42.024528699999998], [21.386676699999999, 42.024241799999999], [21.386033000000001, 42.024082399999998], [21.383543899999999, 42.023827300000001], [21.3796815, 42.023349099999997], [21.3793811, 42.023349099999997], [21.378265299999999, 42.023189700000003], [21.377750299999999, 42.023221599999999], [21.377321200000001, 42.023412899999997], [21.377192399999998, 42.023381000000001], [21.376849100000001, 42.023094100000002], [21.376634500000002, 42.022998399999999], [21.372471699999998, 42.022488299999999], [21.3714847, 42.022169499999997], [21.370926799999999, 42.021882599999998], [21.370626399999999, 42.021882599999998], [21.370325999999999, 42.022010100000003], [21.370025600000002, 42.022073900000002], [21.369596399999999, 42.022073900000002], [21.369145799999998, 42.021771000000001], [21.368630799999998, 42.021324700000001], [21.3680518, 42.020762699999999], [21.3664609, 42.021685300000001], [21.365275400000002, 42.022390700000003], [21.363644600000001, 42.024686099999997], [21.3635588, 42.025578699999997], [21.3638163, 42.026152500000002], [21.364846199999999, 42.027300199999999], [21.365876199999999, 42.028766599999997], [21.367077800000001, 42.029786700000002], [21.367507, 42.030296700000001], [21.367592800000001, 42.031508000000002], [21.367850300000001, 42.032336800000003], [21.367635700000001, 42.034428599999998], [21.367684000000001, 42.034548200000003], [21.3672334, 42.034751399999998], [21.3662946, 42.034998399999999], [21.366450199999999, 42.035285299999998], [21.366608400000001, 42.035468600000002], [21.366367, 42.035922800000002], [21.366477, 42.036225600000002], [21.366562800000001, 42.036544300000003], [21.366305400000002, 42.037118], [21.366305400000002, 42.0375005], [21.366133699999999, 42.037883000000001], [21.365447, 42.038520499999997], [21.365447, 42.039285399999997], [21.365017900000002, 42.039859100000001], [21.365103699999999, 42.040751499999999], [21.364588699999999, 42.042090199999997], [21.364417100000001, 42.0430463], [21.364202500000001, 42.0432694], [21.363515899999999, 42.043333099999998], [21.3623142, 42.043078199999997], [21.3615417, 42.043014399999997], [21.3612413, 42.043237499999996], [21.361026800000001, 42.043588100000001], [21.360597599999998, 42.043651799999999], [21.359481800000001, 42.0432694], [21.358881, 42.0432056], [21.3585806, 42.0434287], [21.358151400000001, 42.044512300000001], [21.357936899999999, 42.044607900000003], [21.357507699999999, 42.044480399999998], [21.357379000000002, 42.044384800000003], [21.357379000000002, 42.044129900000001], [21.356735199999999, 42.043843000000003], [21.356048600000001, 42.043843000000003], [21.354589499999999, 42.044289200000001], [21.353473699999999, 42.044416699999999], [21.353173300000002, 42.044257399999999], [21.3530874, 42.044066100000002], [21.351971599999999, 42.039285399999997], [21.351370800000002, 42.037309299999997], [21.351027500000001, 42.036608100000002], [21.351027500000001, 42.0362893], [21.351756999999999, 42.035747499999999], [21.352443699999998, 42.036002500000002], [21.352701199999998, 42.035938700000003], [21.353044499999999, 42.0356837], [21.3533878, 42.0356837], [21.353988600000001, 42.035874999999997], [21.3551903, 42.034982499999998], [21.3554478, 42.034918699999999], [21.356563600000001, 42.035110000000003], [21.3567781, 42.034950600000002], [21.356606500000002, 42.034058100000003], [21.356864000000002, 42.033420599999999], [21.356606500000002, 42.032783100000003], [21.356692299999999, 42.032402599999998], [21.356819699999999, 42.032374699999998], [21.356798300000001, 42.032129599999998], [21.356737899999999, 42.032067900000001], [21.355748200000001, 42.030806699999999], [21.355834000000002, 42.030551699999997], [21.356520700000001, 42.030041699999998], [21.356349000000002, 42.029276600000003], [21.356649399999998, 42.028989699999997], [21.357207299999999, 42.028702799999998], [21.357207299999999, 42.028320299999997], [21.356906899999998, 42.028097199999998], [21.356306100000001, 42.028097199999998], [21.356005700000001, 42.027873999999997], [21.355576500000002, 42.026981399999997], [21.355104399999998, 42.026694499999998], [21.354589499999999, 42.026758299999997], [21.354460700000001, 42.026662600000002], [21.354460700000001, 42.026216300000002], [21.353559499999999, 42.025546800000001], [21.3533878, 42.025483100000002], [21.3531303, 42.025546800000001], [21.352443699999998, 42.025929400000003], [21.351628300000002, 42.026917599999997], [21.350255000000001, 42.027746499999999], [21.349997500000001, 42.028320299999997], [21.347894700000001, 42.029754799999999], [21.347722999999998, 42.029754799999999], [21.347336800000001, 42.0294679], [21.346821800000001, 42.028192799999999], [21.346564300000001, 42.026853899999999], [21.346564300000001, 42.026152500000002], [21.346178099999999, 42.025801899999998], [21.345577200000001, 42.0256744], [21.345362699999999, 42.025451199999999], [21.345362699999999, 42.025196200000003], [21.345191, 42.025004899999999], [21.344504400000002, 42.024622299999997], [21.344590199999999, 42.024175999999997], [21.345362699999999, 42.023410900000002], [21.345362699999999, 42.0230283], [21.345019300000001, 42.022263199999998], [21.344633099999999, 42.021976199999997], [21.344118099999999, 42.021912499999999], [21.3415432, 42.0208285], [21.341199899999999, 42.0208285], [21.3405132, 42.0213386], [21.340169899999999, 42.021466099999998], [21.335191699999999, 42.021529899999997], [21.334333399999998, 42.021657400000002], [21.3328743, 42.022103799999996], [21.330782200000002, 42.022350799999998], [21.329999000000001, 42.022350799999998], [21.329870199999998, 42.024263699999999], [21.328969000000001, 42.024247699999997], [21.3278854, 42.023458699999999], [21.325321200000001, 42.024781699999998], [21.324891999999998, 42.024781699999998], [21.324505800000001, 42.024558599999999], [21.323347099999999, 42.023506500000003], [21.323003799999999, 42.023442799999998], [21.322531699999999, 42.023793400000002], [21.322274199999999, 42.024303500000002], [21.322054300000001, 42.024522699999999], [21.321137, 42.024287600000001], [21.321275100000001, 42.023907000000001], [21.320541500000001, 42.023693799999997], [21.3207293, 42.023187700000001], [21.320300100000001, 42.023020299999999], [21.3187766, 42.022725399999999], [21.318739099999998, 42.022665699999997], [21.3187766, 42.021912499999999], [21.3186103, 42.021509999999999], [21.31832, 42.0212395], [21.318169099999999, 42.021163199999997], [21.3196993, 42.019457600000003], [21.320343000000001, 42.018979299999998], [21.320600500000001, 42.018979299999998], [21.320858000000001, 42.019170600000002], [21.321201299999998, 42.019170600000002], [21.321330100000001, 42.019075000000001], [21.321501699999999, 42.018501100000002], [21.321158400000002, 42.017927200000003], [21.321244199999999, 42.017735899999998], [21.322016699999999, 42.017225699999997], [21.32236, 42.016269200000004], [21.322789199999999, 42.015695299999997], [21.3231754, 42.015472099999997], [21.323604599999999, 42.015408299999997], [21.3239479, 42.015472099999997], [21.324248300000001, 42.015248900000003], [21.32442, 42.014866300000001], [21.324334100000002, 42.014611199999997], [21.323905, 42.014228600000003], [21.323733300000001, 42.0139098], [21.323819199999999, 42.0123155], [21.323733300000001, 42.011805299999999], [21.32339, 42.011295099999998], [21.324564800000001, 42.010453099999999], [21.324763300000001, 42.010433200000001], [21.3251697, 42.010271699999997], [21.323238499999999, 42.009215500000003], [21.322264100000002, 42.008473100000003], [21.321507100000002, 42.007704799999999], [21.321198599999999, 42.007322100000003], [21.3217009, 42.007160200000001], [21.321383000000001, 42.0068956], [21.321426599999999, 42.006840799999999], [21.320836499999999, 42.006320600000002], [21.320407400000001, 42.005619000000003], [21.320235700000001, 42.004789899999999], [21.319892400000001, 42.003992599999997], [21.3196349, 42.0036737], [21.3193774, 42.0028127], [21.319248699999999, 42.002589499999999], [21.3186049, 42.000707900000002], [21.3186049, 42.0005484], [21.318390399999998, 41.999878699999996], [21.317875399999998, 41.998571099999999], [21.317446199999999, 41.997901300000002], [21.3166738, 41.9964023], [21.315722099999999, 41.994889399999998]]]] }] };

        var coordinates = Skopje.geometries[0].coordinates[0][0];

        var citySurface = [];
        for (var i = 0; i < coordinates.length; i++) {
            var lat = coordinates[i][1];
            var lng = coordinates[i][0];
            citySurface.push({ "lat": lat, "lng": lng });
        }

        var myStyle = [
            {
                featureType: "administrative",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "poi",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "water",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }, {
                featureType: "road",
                elementType: "labels",
                stylers: [
                    { visibility: "off" }
                ]
            }
        ];


        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControlOptions: {
                mapTypeIds: ['mystyle', google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.TERRAIN]
            },
            center: { lat: @Model.Latitude.ToString(), lng: @Model.Longitude.ToString() },
            zoom: 15,
            mapTypeId: 'mystyle'
        });

        map.mapTypes.set('mystyle', new google.maps.StyledMapType(myStyle, { name: 'My Style' }));


        var skopjeSurface = new google.maps.Polygon({
            paths: citySurface,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: '#FF0000',
            fillOpacity: 1
        });
        skopjeSurface.setMap(map);
    }


</script>