﻿@model Playground.Models.IndexModel
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Restaurant HTML Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700%7CCabin:400%7CDancing+Script" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="~/Content/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/owl.theme.default.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />
    <link href="~/Content/jquery.circliful.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Home -->
    <div id="home" class="banner-area">
        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../img/Cities_1.png)"></div>
        <!-- /Backgound Image -->
        <div class="home-wrapper">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="home-content">
                    <h1 class="white-text">Green Cities </h1>
                    <h4 class="white-text lead">Calculate the green surface in your city!</h4>
                    <a class="main-button" href="#about">Skopje </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Home -->
    <!-- About -->
    <div id="about" class="section">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <!-- section header -->
                <div class="section-header text-center">
                    <h4 class="sub-title">Process</h4>
                    <h2 class="title">The surface of Skopje </h2>
                </div>
                <!-- /section header -->
                <!-- about content -->
                <div class="col-md-5">
                    <h4 class="lead">The application first gets the coordinates of the surface of the city and draw a polygon on the map!</h4>
                </div>
                <!-- /about content -->
                <!-- about content -->
                <div class="col-md-7">
                    <p>This step allows us to capture segments of the map within the surface and remove the locations that are not part of the area. </p>
                </div>

                <!-- /about content -->
                <!-- Galery Slider -->
                <!-- /Galery Slider -->
                <div class="col-md-12">
                    <img style="width: 100%" src="~/img/skopje_surface.png" alt="">
                </div>

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
    <!-- /About -->
    <!-- Menu -->
    <div id="menu" class="section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../img/cities.jpg)"></div>
        <!-- /Backgound Image -->
        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="section-header text-center">
                    <h4 class="sub-title">Step 1</h4>
                    <h2 class="title white-text">Capturing the images</h2>
                </div>
                <div class="col-md-5">
                    <h4 class="lead" style="color: white">The application extract equal segments from the polygon</h4>
                </div>
                <!-- /about content -->
                <!-- about content -->
                <div class="col-md-7">
                    <p>This step prepare the image segments for refinement.  </p>
                </div>

                <div class="col-md-12">
                    <div id="galery" class="owl-carousel owl-theme">
                        @foreach (var item in Model.surfaceFileNames)
                        {
                            <div class="galery-item">
                                @{
                                    string url = "../../img/extracts_surface/" + item;
                                }
                                <!-- single image -->
                                <div class="galery-img" style="background-image:url(@url); opacity:0%"></div>
                                <!-- /single image -->

                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /container -->
    <!-- /Menu -->
    <!-- Reservation -->

    <div id="refinement" class="section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url(../../img/55.jpg)"></div>

        <!-- /Backgound Image -->
        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="section-header text-center">
                    <h4 class="sub-title">Step 2</h4>
                    <h2 class="title white-text">Process and refine the images</h2>
                </div>
                <div class="col-md-5">
                    <h4 class="lead" style="color: white">Refining the image segments.</h4>
                </div>
                <!-- /about content -->
                <!-- about content -->
                <div class="col-md-7">
                    <p style="color: white">This step removes the parts of the map which don't belong to the surface of the city and neutralize all the colors except the green.</p>
                </div>
                <div class="col-md-12">
                    <div id="galery2" class="owl-carousel owl-theme">
                        @foreach (var item in Model.refinedFileNames)
                        {
                            <div class="galery-item">
                                @{
                                    string url = "../../img/refinement/" + item;
                                }
                                <!-- single image -->
                                <div class="galery-img" style="background-image:url(@url)"></div>
                                <!-- /single image -->

                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="reservation" class="section">

        <!-- Backgound Image -->
        <!--<div class="bg-image" style="background-image:url(../../img/results.jpg)"></div>-->
        <!-- /Backgound Image -->
        <!-- container -->
        <!-- /container -->
        <div class="section-header text-center">
            <h4 class="sub-title">Result</h4>
            <h2 class="title">The percantage of green surface in Skopje! </h2>

            <div class="container">

                <!-- row -->
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
                        <div class="opening-time row">
                                    <div id="test-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Contact -->
    <!-- Footer -->
    <footer id="footer">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <!-- copyright -->
                <div class="col-md-6">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <span class="copyright">Copyright 2018 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></span>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /copyright -->
            </div>
            <!-- /row -->

        </div>
        <!-- /container -->

    </footer>
    <!-- /Footer -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- /Preloader -->
    <!-- jQuery Plugins -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.circliful.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>


</body>
</html>
